<!--=== Content Part ===-->
<div class="image-backstretch">
    <!--Error Block-->
    <div class="row" style="margin-right: 0px; margin-left: 0px;">
        <div class="col-md-8 col-md-offset-2" style="z-index: 20;">
            <div class="error-v2">
                <span class="error-v2-title">404</span>
                <span>Ha ocurrido un error!</span>
                <p>La pagina que estas buscando no exite. <br> Seleccione otra del menu.</p>
            </div>
        </div>
    </div>
    <!--End Error Block-->
</div><!--/container-->
<!--=== End Content Part ===-->
