<div class="sticky-container">
    <ul class="sticky">
        <li ng-click="openSocial('https://www.facebook.com/outsiderapplication/')">
            <img width="32" height="32" title="" alt="" src="img/social/facebook.png" />
            <p>Facebook</p>
        </li>
        <li ng-click="openSocial('https://www.instagram.com/outsideride/')">
            <img width="32" height="32" title="" alt="" src="img/social/instagram.png" />
            <p>Instagram</p>
        </li>
        <li ng-click="openSocial('https://www.twitter.com/outsiderok/')">
            <img width="32" height="32" title="" alt="" src="img/social/twitter.png" />
            <p>Twitter</p>
        </li>
        <li ng-click="openSocial('https://www.facebook.com/outsiderapplication/')">
            <img width="32" height="32" title="" alt="" src="img/social/pinterest.png" />
            <p>Pinterest</p>
        </li>
    </ul>
</div>