
<link rel="stylesheet" href="assets/css/pages/page_job.css">
<body class="header-fixed header-fixed-space">
<div class="wrapper">
    <!--=== Content Part ===-->
    <div class="container content">
        <!-- Begin Service Block -->
        <div class="row margin-bottom-40">
            <div class="col-md-6 col-sm-6">
                <div class="service-block service-block-sea service-or">
                    <div class="service-bg"></div>
                    <i class="icon-custom icon-color-light rounded-x icon-line icon-notebook"></i>
                    <h2 class="heading-md"><a href="#admin/post" style="color: #fff">Cargá una noticia</a></h2>
                    <p>El formulario que te llevo es para que después aparezca la sección Noticias</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="service-block service-block-red service-or">
                    <div class="service-bg"></div>
                    <i class="icon-custom icon-color-light rounded-x icon-line icon-camera"></i>
                    <h2 class="heading-md"><a href="#admin/photo" style="color: #fff">Cargá una foto</a></h2>
                    <p>Este formaulario es para que después aparezca en la sección Galería</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="service-block service-block-orange service-or">
                    <div class="service-bg"></div>
                    <i class="icon-custom icon-color-light rounded-x icon-line icon-map"></i>
                    <h2 class="heading-md"><a href="#admin/spot" style="color: #fff">Cargá un spot</a></h2>
                    <p>Este formaulario es para que después aparezca en la sección Lugares</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="service-block service-block-blue service-or">
                    <div class="service-bg"></div>
                    <i class="icon-custom icon-color-light rounded-x icon-line icon-users"></i>
                    <h2 class="heading-md"><a href="#admin/team-member" style="color: #fff">Cargá un rider</a></h2>
                    <p>Este formaulario es para que después aparezca en la sección Equipos</p>
                </div>
            </div>
        </div>
        <!-- End Begin Service Block -->
    </div>

</div><!--/End Wrapepr-->