
<link rel="stylesheet" href="assets/css/pages/page_job.css">
<body class="header-fixed header-fixed-space">
<div class="wrapper">
    <!--=== Content Part ===-->
    <div class="container content">
        <!-- Begin Service Block -->
        <div class="row margin-bottom-40">
            <div class="col-md-6 col-sm-6">
                <div class="service-block service-block-sea service-or">
                    <div class="service-bg"></div>
                    <a href="#admin/posts"><i class="icon-custom icon-color-light rounded-x icon-line icon-notebook"></i></a>
                    <h2 class="heading-md"><a href="#admin/posts" style="color: #fff">Noticias</a></h2>
                    <p>Mir치 el listado de Noticias y agrega nuevos, edita o borra los que ya existen</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="service-block service-block-red service-or">
                    <div class="service-bg"></div>
                    <a href="#admin/photos"><i class="icon-custom icon-color-light rounded-x icon-line icon-camera"></i></a>
                    <h2 class="heading-md"><a href="#admin/photos" style="color: #fff">Fotos</a></h2>
                    <p>Mir치 el listado de Fotos y agrega nuevos, edita o borra los que ya existen</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="service-block service-block-orange service-or">
                    <div class="service-bg"></div>
                    <a href="#admin/spots"><i class="icon-custom icon-color-light rounded-x icon-line icon-map"></i></a>
                    <h2 class="heading-md"><a href="#admin/spots" style="color: #fff">Spots</a></h2>
                    <p>Mir치 el listado de Spots y agrega nuevos, edita o borra los que ya existen</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="service-block service-block-blue service-or">
                    <div class="service-bg"></div>
                    <a href="#admin/riders"><i class="icon-custom icon-color-light rounded-x icon-line icon-users"></i></a>
                    <h2 class="heading-md"><a href="#admin/riders" style="color: #fff">Riders</a></h2>
                    <p>Mir치 el listado de Riders y agrega nuevos, edita o borra los que ya existen</p>
                </div>
            </div>
        </div>
        <!-- End Begin Service Block -->
    </div>

</div><!--/End Wrapepr-->