<!--=== Content Part ===-->
<div class="container content">
    <div class="row">

        <!-- Begin Content -->
        <div class="col-md-6 col-md-offset-3">
            <!-- General Unify Forms -->
            <form action="#" class="sky-form">
                <header>Foto</header>

                <fieldset>
                    <section>
                        <label class="label">Título</label>
                        <label class="input">
                            <i class="icon-append fa fa-legal"></i>
                            <input type="text" placeholder="Título" ng-model="photo.title">
                        </label>
                    </section>
                    <section>
                        <label class="label">Deportes</label>
                        <label class="select select-multiple">
                            <select multiple ng-model="photo.sports">
                                <option value="Skate">Skate</option>
                                <option value="Longboard">Longboard</option>
                                <option value="BMX">BMX</option>
                                <option value="Surf">Surf</option>
                                <option value="Ski">Ski</option>
                                <option value="Snowboard">Snowboard</option>
                            </select>
                        </label>
                    </section>

                    <section>
                        <label class="label">Subí la foto</label>
                        <label for="file" ng-if="photo == undefined || photo.url == undefined">
                            <div class="button" id="photo.url" ngf-select ng-model="photo.url" name="photo.url" ngf-pattern="'image/*'"
                                 ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                                 ngf-resize="{width: 100, height: 100}">Examinar</div>
                            <img class="img-responsive col-md-4" ngf-thumbnail="photo.url || 'assets/img/thumb/img22.jpg'">
                        </label>
                        <label for="file" ng-if="photo != undefined && photo.url != undefined">
                            <div class="button" id="file" ngf-select ng-model="photo.url" name="photo.url" ngf-pattern="'image/*'"
                                 ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                                 ngf-resize="{width: 100, height: 100}">Examinar</div>
                            <img class="img-responsive col-md-4" ngf-thumbnail="photo.url || '{{photo.url}}'">
                        </label>
                    </section>
                    <fieldset>
                        <section>
                            <label class="label">Riders</label>
                            <label class="input col-sm-11">
                                <input type="text"  list="list" ng-model="chosen" >
                                <datalist id="list" >
                                    <option ng-repeat="r in riders" value="{{r.name}}">{{r.name}}</option>
                                </datalist>
                            </label>
                            <button type="button" class="btn btn-small btn-success col-sm-1" ng-click="riderChosen()"><i class="fa fa-plus"></i></button>
                        </section>
                        <section>
                            <label class="label">Riders elegidos</label>
                            <div class="inline-group">
                                <label class="checkbox" ng-repeat="rider in chosenRiders"><input type="checkbox" name="checkbox-inline" ng-click="deleteRider(rider)" checked><i></i>{{rider.name}}</label>
                            </div>
                        </section>
                    </fieldset>

                    <section>
                        <label class="label">Spot</label>
                        <label class="input">
                            <input type="text" list="spotList" ng-model="photo.spot.name">
                            <datalist id="spotList" >
                                <option ng-repeat="s in spots" value="{{s.name}}"></option>
                            </datalist>
                        </label>
                    </section>
                    <section>
                        <label class="label">Escribí el post</label>
                        <label class="textarea textarea-resizable">
                            <i class="icon-append fa fa-comment"></i>
                            <textarea rows="3" placeholder="Escribite el post" ng-model="photo.description"></textarea>
                        </label>
                        <div class="note"><strong>Nota:</strong> podés agrandar el área de texto.</div>
                    </section>
                    <section>
                        <label class="label">Escribí alguna declaracion</label>
                        <label class="textarea textarea-resizable">
                            <i class="icon-append fa fa-comment"></i>
                            <textarea rows="3" placeholder="Escribite la declaracion" ng-model="photo.quote"></textarea>
                        </label>
                        <div class="note"><strong>Nota:</strong> podés agrandar el área de texto.</div>
                    </section>

                </fieldset>

                <footer>
                    <button type="button" class="btn-u" ng-click="upload()">Subir</button>
                    <a class="btn-u btn-u-default" href="#admin/photos">Volver</a>
                </footer>
            </form>
            <!-- General Unify Forms -->
        </div>
        <!-- End Content -->
    </div>
</div><!--/container-->
<!--=== End Content Part ===-->