<!--=== Content Part ===-->
<div class="container content">
    <div class="row">

        <!-- Begin Content -->
        <div class="col-md-6 col-md-offset-3">
            <!-- Tabs -->
            <div class="tab-v1">
                <div class="tab-content">
                    <!-- Datepicker Forms -->
                    <div class="tab-pane fade in active" id="home-1">
                        <form action="#" id="sky-form" class="sky-form">
                            <header>Team member</header>

                            <fieldset>

                                <section>
                                    <label class="label">Deporte</label>
                                    <label class="select">
                                        <select ng-model="rider.sport">
                                            <option value="Skate">Skate</option>
                                            <option value="Longboard">Longboard</option>
                                            <option value="BMX">BMX</option>
                                            <option value="Surf">Surf</option>
                                            <option value="Ski">Ski</option>
                                            <option value="Snowboard">Snowboard</option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section>
                                    <label class="label">Nombre</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-user"></i>
                                        <input type="text" placeholder="Nombre" ng-model="rider.name">
                                    </label>
                                </section>
                                <section>
                                    <label class="label">Alias</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-user"></i>
                                        <input type="text" placeholder="Alias" ng-model="rider.alias">
                                    </label>
                                </section>
                                <section>
                                    <label class="label">Apodo</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-user"></i>
                                        <input type="text" placeholder="Apodo" ng-model="rider.nickname">
                                    </label>
                                </section>
                                <section>
                                    <label class="label">Subí la foto</label>
                                    <label for="file" ng-if="rider == undefined || rider.photo_url == undefined">
                                        <div class="button" id="rider.photo_url" ngf-select ng-model="rider.photo_url" name="rider.photo_url" ngf-pattern="'image/*'"
                                             ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                                             ngf-resize="{width: 100, height: 100}">Examinar</div>
                                        <img class="img-responsive col-md-4" ngf-thumbnail="rider.photo_url || 'assets/img/thumb/img22.jpg'">
                                    </label>
                                    <label for="file" ng-if="rider != undefined && rider.photo_url != undefined">
                                        <div class="button" id="file" ngf-select ng-model="rider.photo_url" name="rider.photo_url" ngf-pattern="'image/*'"
                                             ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                                             ngf-resize="{width: 100, height: 100}">Examinar</div>
                                        <img class="img-responsive col-md-4" ngf-thumbnail="rider.photo_url || '{{rider.photo_url}}'">
                                    </label>
                                </section>
                                <section>
                                    <label class="label">Procedencia</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-map-marker"></i>
                                        <input type="text" placeholder="Procedencia" ng-model="rider.procedence">
                                    </label>
                                </section>
                                <section>
                                    <label class="label">Residencia</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-map-marker"></i>
                                        <input type="text" placeholder="Residencia" ng-model="rider.residence">
                                    </label>
                                </section>
                                <section>
                                    <label class="label">Fecha de nacimiento</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" name="date" id="date" ng-model="rider.birthdate">
                                    </label>
                                </section>
                                <section>
                                    <label class="label">Stance</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-map-pin"></i>
                                        <input type="text" placeholder="Stance" ng-model="rider.stance">
                                    </label>
                                </section>
                                <section>
                                    <label class="label">Agregar spots</label>
                                    <label class="input col-sm-11">
                                        <input type="text"  list="list" ng-model="chosen" >
                                        <datalist id="list" >
                                            <option ng-repeat="s in spots" value="{{s.name}}">{{s.name}}</option>
                                        </datalist>
                                    </label>
                                    <button type="button" class="btn btn-small btn-success col-sm-1" ng-click="spotChosen()"><i class="fa fa-plus"></i></button>
                                </section>
                                <section>
                                    <label class="label">Spots preferidos</label>
                                    <div class="inline-group">
                                        <label class="checkbox" ng-repeat="spot in chosenSpots"><input type="checkbox" name="checkbox-inline" ng-click="deleteSpot(spot)" checked><i></i>{{spot.name}}</label>
                                    </div>
                                </section>
                                <section>
                                    <label class="label">Facebook</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-facebook"></i>
                                        <input type="text" placeholder="Facebook" ng-model="rider.facebook">
                                    </label>
                                </section>
                                <section>
                                    <label class="label">Instagram</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-instagram"></i>
                                        <input type="text" placeholder="Instagram" ng-model="rider.instagram">
                                    </label>
                                </section>
                                <section>
                                    <label class="label">Twitter</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-twitter"></i>
                                        <input type="text" placeholder="Twitter" ng-model="rider.twitter">
                                    </label>
                                </section>

                                <section>
                                    <label class="label">Declaración</label>
                                    <label class="textarea textarea-resizable">
                                        <i class="icon-append fa fa-comment"></i>
                                        <textarea rows="3" placeholder="Escribite la declaración" ng-model="rider.quote"></textarea>
                                    </label>
                                    <div class="note"><strong>Nota:</strong> podés agrandar el área de texto.</div>
                                </section>
                                <section>
                                    <label class="label">Descripción</label>
                                    <label class="textarea textarea-resizable">
                                        <i class="icon-append fa fa-comment"></i>
                                        <textarea rows="3" placeholder="Escribite el post" ng-model="rider.description"></textarea>
                                    </label>
                                    <div class="note"><strong>Nota:</strong> podés agrandar el área de texto.</div>
                                </section>

                            </fieldset>


                            <footer>
                                <button type="button" class="btn-u btn-u-default" ng-click="upload()">Guardar</button>
                                <a class="btn-u" href="#admin/riders">Volver</a>
                            </footer>

                        </form>
                    </div>
                    <!-- End Masking Forms -->
                </div>
            </div>
            <!-- End Tabs-->
        </div>
        <!-- End Content -->
    </div>
</div><!--/container-->
<!--=== End Content Part ===-->