<!--=== Breadcrumbs v1 ===-->
<div class="breadcrumbs-v1">
    <div class="container">
        <span>Blog Page</span>
        <h1>Basic Medium Posts</h1>
    </div>
</div>
<!--=== End Breadcrumbs v1 ===-->

<!--=== Blog Posts ===-->
<div class="container content-md">
    <div ng-repeat="post in posts">
        <!-- News v3 -->
        <div class="row margin-bottom-20">
            <div class="col-sm-5 sm-margin-bottom-20">
                <img class="img-responsive" src={{post.url}} alt="" ng-if="post.type == 'image'">
                <div class="responsive-video" ng-if="post.type == 'video'">
                    <iframe ng-src={{getPostUrl(post)}} frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="news-v3">
                    <ul class="list-inline posted-info">
                        <li>By Alexander Jenni</li>
                        <li>In <a href="#">Design</a></li>
                        <li>Posted January 24, 2015</li>
                    </ul>
                    <h2><a href="#blog/{{post.id}}">{{post.title}}</a></h2>
                    <p>Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellus, imperdiet molestie est volutpat at. Sed viverra cursus nibh, sed consectetur ipsum sollicitudin sed. Cras erat est, euismod id congue sed, sollicitudin sed odio. Nullam non metus in mi rhoncus efficitur...</p>
                    <ul class="post-shares">
                        <li>
                            <a href="#">
                                <i class="rounded-x icon-speech"></i>
                                <span>5</span>
                            </a>
                        </li>
                        <li><a href="#"><i class="rounded-x icon-share"></i></a></li>
                        <li><a href="#"><i class="rounded-x icon-heart"></i></a></li>
                    </ul>
                </div>
            </div>
        </div><!--/end row-->
        <!-- End News v3 -->

        <div class="clearfix margin-bottom-20"><hr></div>
    </div>


    <!-- Pager v3 -->
    <ul class="pager pager-v3 pager-md no-margin-bottom">
        <li class="previous"><a href="#">&larr; Older</a></li>
        <li class="page-amount">1 of 7</li>
        <li class="next"><a href="#">Newer &rarr;</a></li>
    </ul>
    <!-- End Pager v3 -->
</div><!--/end container-->
<!--=== End Blog Posts ===-->
