<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-v1">
    <div class="container text-center">
        <h1 style="margin-bottom: 50px;">Noticias</h1>
    </div><!--/end container-->
</div>
<!--=== End Breadcrumbs v3 ===-->

<!--=== Blog Posts ===-->
<div class="container content-md">
    <div ng-repeat="post in posts | orderBy: 'date'">
        <!-- News v3 -->
        <div class="row margin-bottom-20">
            <div class="col-sm-5 sm-margin-bottom-20">
                <!--<img class="img-responsive" src={{post.url}} alt="" ng-if="post.type == 'image'">-->
                <div ng-if="post.type == 'image'" style="background-image: url({{post.url}}); height:290px; background-position:center;background-size: cover;"></div>
                <div class="responsive-video" ng-if="post.type == 'video'">
                    <iframe ng-src={{getPostUrl(post)}} frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="news-v3">
                    <ul class="list-inline posted-info">
                        <!--<li>By Alexander Jenni</li>-->
                        <!--<li>In <a href="#">Design</a></li>todo: add date down here-->
                        <li>{{post.date}}</li>
                    </ul>
                    <h2><a href="#blog/{{post.id}}">{{post.title}}</a></h2>
                    <p>{{post.description}}</p>
                    <!-- todo: uncomment when we add comments and likes
                        <ul class="post-shares">-->
                        <!--<li>-->
                            <!--<a href="#">-->
                                <!--<i class="rounded-x icon-speech"></i>-->
                                <!--<span>5</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li><a href="#"><i class="rounded-x icon-share"></i></a></li>-->
                        <!--<li><a href="#"><i class="rounded-x icon-heart"></i></a></li>-->
                    <!--</ul>-->
                </div>
            </div>
        </div><!--/end row-->
        <!-- End News v3 -->

        <div class="clearfix margin-bottom-20"><hr></div>
    </div>


    <!-- Pager v3 -->
    <!--todo: eventually uncomment this
        <ul class="pager pager-v3 pager-md no-margin-bottom">-->
        <!--<li class="previous"><a href="#">&larr; Older</a></li>-->
        <!--<li class="page-amount">1 of 7</li>-->
        <!--<li class="next"><a href="#">Newer &rarr;</a></li>-->
    <!--</ul>-->
    <!-- End Pager v3 -->
</div><!--/end container-->
<!--=== End Blog Posts ===-->
