<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-v1">
    <div class="container text-center">
        <p>Portfolio</p>
        <h1>Portfolio 3 Columns Grid</h1>
    </div><!--/end container-->
</div>
<!--=== End Breadcrumbs v3 ===-->

<!--=== Cube-Portfdlio ===-->
<div class="cube-portfolio container margin-bottom-60">
    <div class="content-xs">
        <div id="filters-container" class="cbp-l-filters-text content-xs">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All </div> |
            <div data-filter=".skate" class="cbp-filter-item"> Skate </div> |
            <div data-filter=".longboard" class="cbp-filter-item"> Longboard </div> |
            <div data-filter=".bmx" class="cbp-filter-item"> BMX </div> |
            <div data-filter=".ski" class="cbp-filter-item"> Ski </div> |
            <div data-filter=".snowboard" class="cbp-filter-item"> Snowboard </div>
        </div><!--/end Filters Container-->
    </div>

    <ul id="grid-container" class="cbp-l-grid-agency">
        <li class="cbp-item {{photo.sport}}" ng-repeat="photo in photos" on-finish-photos-render>
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src={{photo.url}} alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <ul class="link-captions">
                                <li><a href="#galeria/{{photo.id}}"><i class="rounded-x fa fa-link"></i></a></li>
                                <li><a href={{photo.url}} class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                            </ul>
                            <div class="cbp-l-grid-agency-title">{{photo.title}}</div>
                            <div class="cbp-l-grid-agency-desc">{{photo.sport}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul><!--/end Grid Container-->
</div>
<!--=== End Cube-Portfdlio ===-->


