<!--=== Slider ===-->
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide" ng-click="openBrand('http://www.elementbrand.com/')">
            <!--<h2><i>HIT THE WAVE</i></h2>
            <p><i>From California to Buenos Aires, </i> <br /> <i>surfing amazing adventures </i></p>-->
            <div class="da-img"><img class="img-responsive" src="img/brands/element2.png" alt=""></div>
        </div>
        <div class="da-slide" ng-click="openBrand('http://www.dcshoes.es/')">
            <!--<h2><i>USING BEST WEB</i> <br /> <i>SOLUTIONS WITH</i> <br /> <i>HTML5/CSS3</i></h2>
            <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>-->
            <div class="da-img"><img src="img/brands/dcshoes.png" alt="" /></div>
        </div>
        <!--<div class="da-slide">
            <h2><i>RESPONSIVE VIDEO</i> <br /> <i>SUPPORT AND</i> <br /> <i>MANY MORE</i></h2>
            <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i></p>
            <div class="da-img">
                <iframe src="//player.vimeo.com/video/47911018" width="530" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
        </div>
        <div class="da-slide">
            <h2><i>USING BEST WEB</i> <br /> <i>SOLUTIONS WITH</i> <br /> <i>HTML5/CSS3</i></h2>
            <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
            <div class="da-img"><img src="assets/plugins/parallax-slider/img/html5andcss3.png" alt="image01" /></div>
        </div>-->
        <div class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </div>
    </div>
</div><!--/slider-->
<!--=== End Slider ===-->

<!--=== Purchase Block ===-->
<!--<div class="purchase">
    <div class="container">
        <div class="row">
            <div class="col-md-9 animated fadeInLeft">
                <span>Unify is a clean and fully responsive incredible Template.</span>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi  vehicula sem ut volutpat. Ut non libero magna fusce condimentum eleifend enim a feugiat corrupti quos.</p>
            </div>
            <div class="col-md-3 btn-buy animated fadeInRight">
                <a href="#" class="btn-u btn-u-lg"><i class="fa fa-cloud-download"></i> Download Now</a>
            </div>
        </div>
    </div>
</div>--><!--/row-->
<!-- End Purchase Block -->

<!--=== Content Part ===-->
<div class="container content-sm">
    <!-- Service Blocks -->
    <div class="row margin-bottom-30">
        <div class="col-md-4" ng-repeat="service in services">
            <div class="service">
                <i class="fa fa-{{service.icon}} service-icon"></i>
                <div class="desc">
                    <h4>{{service.title}}</h4>
                    <p>{{service.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Service Blokcs -->

    <!-- Recent Works -->
    <div class="headline"><h2>Fotos Recientes</h2></div>
    <div class="row margin-bottom-20">
        <div class="col-md-3 col-sm-6" ng-repeat="photo in photos">
            <div class="thumbnails thumbnail-style thumbnail-kenburn" style="height: 282px">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <!--<img class="img-responsive" src={{photo.url}} alt="">-->
                        <div style="background-image: url({{photo.url}}); height:165px; background-position:center;background-size: cover;"></div>
                    </div>
                    <a class="btn-more hover-effect" style="cursor:default">{{photo.sport}}</a>
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#gallery/{{photo.id}}">{{photo.title}}</a></h3>
                    <p>{{truncate(photo.description)}}</p>
                </div>
            </div>
        </div>

    </div>
    <!-- End Recent Works -->

    <!-- Recent Works -->
    <div class="headline"><h2>Noticias Recientes</h2></div>
    <div class="row margin-bottom-20">
        <div class="col-md-3 col-sm-6" ng-repeat="post in posts">
            <div class="thumbnails thumbnail-style thumbnail-kenburn" style="height: 286px">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <!--<img class="img-responsive" src={{photo.url}} alt="">-->
                        <!--<div style="background-image: url({{post.url}}); height:165px; background-position:center;background-size: cover;"></div>-->
                        <div ng-if="post.type == 'image'" style="background-image: url({{post.url}}); height:141px; background-position:center;background-size: cover;"></div>
                        <div class="responsive-video" ng-if="post.type == 'video'">
                            <iframe ng-src={{getPostUrl(post)}} frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                    <a class="btn-more hover-effect" style="cursor:default">{{post.sport}}</a>
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#blog/{{post.id}}">{{post.title}}</a></h3>
                    <p>{{truncate(post.description)}}</p>
                </div>
            </div>
        </div>

    </div>
    <!-- End Recent Works -->

    <!-- Owl Clients v1 -->
    <div class="headline"><h2>Marcas amigas</h2></div>
    <div class="owl-clients-v1">
        <div class="item" ng-repeat="brand in brands" on-finish-brands-render>
            <img src={{brand.photo}} alt="">
        </div>
    </div>
    <!-- End Owl Clients v1 -->
</div><!--/container-->
<!-- End Content Part -->


