<!--=== Content Part ===--><!-- CSS Page Style -->
<link rel="stylesheet" href="assets/css/pages/portfolio-v1.css">
<div class="container content">
    <div class="row portfolio-item margin-bottom-50">
        <!-- Content Info -->
        <div class="col-md-6">
            <h2>{{spot.name}}</h2>
            <p>{{spot.description}}</p>
            <ul class="list-unstyled">
                <li><i class="fa fa-map-marker color-green"></i> {{spot.address}}</li>
                <li ng-repeat="sport in spot.sports"><i class="fa fa-tags color-green"></i> {{sport}}</li>
            </ul>
            <!--<a href="#" class="btn-u btn-u-large">VISIT THE PROJECT</a>-->
        </div>
        <!-- End Content Info -->
        <!-- Map -->
        <div class="col-md-6">
            <div class="carousel slide carousel-v1" id="myCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <div id="map" class="map"></div>
                        <div class="carousel-caption">
                            <p>{{spot.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Map -->

    </div>
    <div class="row portfolio-item margin-bottom-50">
        <!-- Carousel -->
        <div class="col-md-6">
            <div class="carousel slide carousel-v1" id="myCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="" src="{{spot.url}}">
                        <div class="carousel-caption">
                            <p>{{spot.name}}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- End Carousel -->

        <!-- Panorama-->
        <div class="col-md-6">
            <div class="carousel slide carousel-v1" id="myCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <div id="panorama" class="map"></div>
                        <div class="carousel-caption">
                            <p>{{spot.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panorama -->
    </div>

</div><!--/container-->
<!--=== End Content Part ===-->