<!--=== Content Part ===-->

<!-- CSS Page Style -->
<link rel="stylesheet" href="assets/css/pages/portfolio-v1.css">
<div class="container content-sm">
    <div class="row" ng-repeat="chunk in spots">
        <div class="col-md-4" ng-repeat="spot in chunk">
            <div class="view view-tenth">
                <img class="img-responsive" src="{{spot.url}}" alt="" />
                <div class="mask">
                    <h2>{{spot.name}}</h2>
                    <p>{{spot.description}}</p>
                    <a href="#spots/{{spot.id}}" class="info">Conocé más</a>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">{{spot.name}}</div>
                    <div class="cbp-l-grid-agency-desc">{{spot.sports[0]}}</div>
                </div>
            </div>
        </div>
    </div>
</div><!--/container-->
<!--=== End Content Part ===-->