<!--=== Breadcrumbqs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Longboard Team</h1>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Team v1 ===-->
<div class="container content-md team-v1">
    <ul class="list-unstyled row">
        <li class="col-sm-3 col-xs-6 md-margin-bottom-30" ng-repeat="rider in riders">
            <div class="team-img">
                <img class="img-responsive" src={{rider.photo_url}} alt="">
                <!--<div style="background-image: url({{rider.photo_url}}); height:260px; background-position:center;background-size: cover;"></div>-->
                <ul>
                    <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
                </ul>
            </div>
            <h3><a href="#/equipos/{{rider.alias}}" style="text-decoration: none;">{{rider.name}}</a></h3> <!--hacer que el nombre sea un link-->
            <h4>/ {{rider.sport}}</h4>
            <p>Technical Director mi porta gravida at eget metus id elit mi egetine...</p>
        </li>
    </ul>
</div>
<!--=== End Team v1 ===-->

<!--=== Team v5 ===-->
<div class="bg-color-light">
    <div class="container content-md">
        <div class="row team-v5">
            <div class="col-sm-3 sm-margin-bottom-50" ng-repeat="rider in riders">
                <div class="team-img">
                    <!--<img class="img-responsive" src={{rider.photo_url}} alt="">-->
                    <div style="background-image: url({{rider.photo_url}}); height:260px; background-position:center;background-size: cover;"></div>
                    <!--se caga el responsive porque le tengo que dejar un alto fijo-->
                    <div class="team-hover">
                        <ul class="list-inline team-social-v5">
                            <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <span>{{rider.name}}</span>
                <small>{{rider.sport}}</small>
                <p>Pellentesque habitant morbi tristique senectus netus et.</p>
            </div>
        </div><!--/end teams v5-->
    </div>
</div>
<!--=== End Team v5 ===-->

<!--=== Team v1 ===-->
<div class="container content-md team-v1">
    <ul class="list-unstyled row">
        <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
            <div class="team-img">
                <img class="img-responsive" src="assets/img/team/img10-md.jpg" alt="">
                <ul>
                    <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
                </ul>
            </div>
            <h3>John Brown</h3>
            <h4>/ Technical Director</h4>
            <p>Technical Director mi porta gravida at eget metus id elit mi egetine...</p>
        </li>
        <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
            <div class="team-img">
                <img class="img-responsive" src="assets/img/team/img11-md.jpg" alt="">
                <ul>
                    <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
                </ul>
            </div>
            <h3>Tina Krueger</h3>
            <h4>/ Lead Designer</h4>
            <p>Lead Designer mi porta gravida at eget metus id elit mi egetine...</p>
        </li>
        <li class="col-sm-3 col-xs-6">
            <div class="team-img">
                <img class="img-responsive" src="assets/img/team/img15-md.jpg" alt="">
                <ul>
                    <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
                </ul>
            </div>
            <h3>David Case</h3>
            <h4>/ Web Developer</h4>
            <p>Web Developer in Unify agency porta gravida at eget metus id elit...</p>
        </li>
        <li class="col-sm-3 col-xs-6">
            <div class="team-img">
                <img class="img-responsive" src="assets/img/team/img13-md.jpg" alt="">
                <ul>
                    <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
                </ul>
            </div>
            <h3>Kathy Reyes</h3>
            <h4>/ Creative Designer</h4>
            <p>Former Designer in Twitter non mi porta gravida at elit mi egetine...</p>
        </li>
    </ul>
</div>
<!--=== End Team v1 ===-->

<!--=== Team v2 ===-->
<div class="bg-color-light">
    <div class="container content-md">
        <div class="row">
            <!-- Team v2 -->
            <div class="col-md-3 col-sm-6">
                <div class="team-v2 no-margin-bottom">
                    <img class="img-responsive" src="assets/img/team/img40-md.jpg" alt="">
                    <div class="inner-team">
                        <h3>Jack Anderson</h3>
                        <small class="color-green">CEO, Chief Officer</small>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                        <hr>
                        <ul class="list-inline team-social">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Team v2 -->

            <!-- Team v2 -->
            <div class="col-md-3 col-sm-6">
                <div class="team-v2 no-margin-bottom">
                    <img class="img-responsive" src="assets/img/team/img37-md.jpg" alt="">
                    <div class="inner-team">
                        <h3>Kate Metus</h3>
                        <small class="color-green">Project Manager</small>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                        <hr>
                        <ul class="list-inline team-social">
                            <li><a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Team v2 -->

            <!-- Team v2 -->
            <div class="col-md-3 col-sm-6">
                <div class="team-v2 no-margin-bottom">
                    <img class="img-responsive" src="assets/img/team/img38-md.jpg" alt="">
                    <div class="inner-team">
                        <h3>Porta Gravida</h3>
                        <small class="color-green">VP of Operations</small>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                        <hr>
                        <ul class="list-inline team-social">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Team v2 -->

            <!-- Team v2 -->
            <div class="col-md-3 col-sm-6">
                <div class="team-v2 no-margin-bottom">
                    <img class="img-responsive" src="assets/img/team/img39-md.jpg" alt="">
                    <div class="inner-team">
                        <h3>Donec Elisson</h3>
                        <small class="color-green">Director, R &amp; D Talent</small>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                        <hr>
                        <ul class="list-inline team-social">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#">
                                    <i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Team v2 -->
        </div>
    </div>
</div>
<!--=== End Team v2 ===-->

<!--=== Team v3 ===-->
<div class="container content-md">
    <div class="row team-v3">
        <div class="col-md-3 col-sm-6 md-margin-bottom-50">
            <div class="team-img">
                <img class="img-responsive" src="assets/img/team/img21-md.jpg" alt="">
                <div class="team-hover">
                    <span>Daniel Wearne</span>
                    <small>Technical Director</small>
                    <p>Lorem ipsum dolor sit ame con sectetur adipisci ng e lit.</p>
                    <ul class="list-inline team-social-v3">
                        <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 md-margin-bottom-50">
            <div class="team-img">
                <img class="img-responsive" src="assets/img/team/img17-md.jpg" alt="">
                <div class="team-hover">
                    <span>Sara Lisbon</span>
                    <small>Designer</small>
                    <p>Lorem ipsum dolor sit ame con sectetur adipisci ng e lit.</p>
                    <ul class="list-inline team-social-v3">
                        <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 sm-margin-bottom-50">
            <div class="team-img">
                <img class="img-responsive" src="assets/img/team/img16-md.jpg" alt="">
                <div class="team-hover">
                    <span>John Doe</span>
                    <small>Developer</small>
                    <p>Lorem ipsum dolor sit ame con sectetur adipisci ng e lit.</p>
                    <ul class="list-inline team-social-v3">
                        <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="team-img">
                <img class="img-responsive" src="assets/img/team/img18-md.jpg" alt="">
                <div class="team-hover">
                    <span>Alice Williams</span>
                    <small>Support</small>
                    <p>Lorem ipsum dolor sit ame con sectetur adipisci ng e lit.</p>
                    <ul class="list-inline team-social-v3">
                        <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=== End Team v3 ===-->

<!--=== Team v4 ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="row team-v4">
            <div class="col-md-3 col-sm-6 md-margin-bottom-50">
                <img class="img-responsive" src="assets/img/team/img20-md.jpg" alt="">
                <span>Daniel Wearne</span>
                <small>- Technica Director -</small>
                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit, sed a nulla non</p>
                <ul class="list-inline team-social-v4">
                    <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="rounded-x fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 md-margin-bottom-50">
                <img class="img-responsive" src="assets/img/team/img30-md.jpg" alt="">
                <span>Sara Lisbon</span>
                <small>- UI Designer -</small>
                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit, sed a nulla non</p>
                <ul class="list-inline team-social-v4">
                    <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="rounded-x fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 sm-margin-bottom-50">
                <img class="img-responsive" src="assets/img/team/img22-md.jpg" alt="">
                <span>John Doe</span>
                <small>- Backend Developer -</small>
                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit, sed a nulla non</p>
                <ul class="list-inline team-social-v4">
                    <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="rounded-x fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <img class="img-responsive" src="assets/img/team/img19-md.jpg" alt="">
                <span>Alice Williams</span>
                <small>- Customer Support -</small>
                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit, sed a nulla non</p>
                <ul class="list-inline team-social-v4">
                    <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="rounded-x fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--=== Team v4 ===-->

<!--=== Team v6 ===-->
<div class="container content-md">
    <div class="row team-v6">
        <div class="col-md-3 col-sm-6 md-margin-bottom-50">
            <img class="img-responsive" src="assets/img/team/img23-md.jpg" alt="">
            <span>Marketing</span>
            <small>Graphic Designer</small>
            <ul class="list-inline social-icons-v1">
                <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 md-margin-bottom-50">
            <img class="img-responsive" src="assets/img/team/img31-md.jpg" alt="">
            <span>Sara Lisbon</span>
            <small>Community</small>
            <ul class="list-inline social-icons-v1">
                <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 sm-margin-bottom-50">
            <img class="img-responsive" src="assets/img/team/img29-md.jpg" alt="">
            <span>John Doe</span>
            <small>Support</small>
            <ul class="list-inline social-icons-v1">
                <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="img-responsive" src="assets/img/team/img24-md.jpg" alt="">
            <span>Alice Williams</span>
            <small>Marketing</small>
            <ul class="list-inline social-icons-v1">
                <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
            </ul>
        </div>
    </div><!--/end teams v6-->
</div>
<!--=== End Team v6 ===-->

<!--=== Team v5 ===-->
<div class="bg-color-light">
    <div class="container content-md">
        <div class="row team-v5">
            <div class="col-sm-3 sm-margin-bottom-50">
                <div class="team-img">
                    <img class="img-responsive" src="assets/img/team/img35-md.jpg" alt="">
                    <div class="team-hover">
                        <ul class="list-inline team-social-v5">
                            <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <span>Marketing</span>
                <small>Technical Director</small>
                <p>Pellentesque habitant morbi tristique senectus netus et.</p>
            </div>

            <div class="col-sm-3 sm-margin-bottom-50">
                <div class="team-img">
                    <img class="img-responsive" src="assets/img/team/img34-md.jpg" alt="">
                    <div class="team-hover">
                        <ul class="list-inline team-social-v5">
                            <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <span>Sara Lisbon</span>
                <small>Developer</small>
                <p>Pellentesque habitant morbi tristique senectus netus et.</p>
            </div>

            <div class="col-sm-3 sm-margin-bottom-50">
                <div class="team-img">
                    <img class="img-responsive" src="assets/img/team/img36-md.jpg" alt="">
                    <div class="team-hover">
                        <ul class="list-inline team-social-v5">
                            <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <span>John Doe</span>
                <small>Designer</small>
                <p>Pellentesque habitant morbi tristique senectus netus et.</p>
            </div>

            <div class="col-sm-3">
                <div class="team-img">
                    <img class="img-responsive" src="assets/img/team/img33-md.jpg" alt="">
                    <div class="team-hover">
                        <ul class="list-inline team-social-v5">
                            <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <span>Sara Lisbon</span>
                <small>Developer</small>
                <p>Pellentesque habitant morbi tristique senectus netus et.</p>
            </div>
        </div><!--/end teams v5-->
    </div>
</div>
<!--=== End Team v5 ===-->

<!--=== Team v7 ===-->
<div class="container-fluid">
    <!-- Team Blcoks -->
    <div class="row team-v7 no-gutter equal-height-columns">
        <div class="col-md-6 team-arrow-right">
            <div class="dp-table">
                <div class="equal-height-column dp-table-cell team-v7-in" style="height: 427px;">
                    <span class="team-v7-name">Daniel Wearne</span>
                    <span class="team-v7-position">Co-Founder / CEO</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget varius leo, at elementum eros. Fusce tristique, ipsum egestas fermentum imperdiet, ex nunc iaculis sem, a semper augue turpis ut nulla. Nam condimentum arcu eu diam gravida cursus. Morbi ante eros, lobortis sit amet tempus in, fermentum vitae neque.</p>
                    <ul class="list-inline social-icons-v1">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 team-v7-img">
            <img class="img-responsive full-width equal-height-column" src="assets/img/team/img-v1.jpg" alt="" style="height: 427px;">
        </div>
    </div>
    <!-- End Team Blcoks -->

    <!-- Team Blcoks -->
    <div class="row team-v7 no-gutter equal-height-columns">
        <div class="col-md-6 col-md-push-6 team-arrow-left">
            <div class="dp-table">
                <div class="equal-height-column dp-table-cell team-v7-in" style="height: 427px;">
                    <span class="team-v7-name">Kate Metus</span>
                    <span class="team-v7-position">Co-Founder/ UX Design</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget varius leo, at elementum eros. Fusce tristique, ipsum egestas fermentum imperdiet, ex nunc iaculis sem, a semper augue turpis ut nulla. Nam condimentum arcu eu diam gravida cursus. Morbi ante eros, lobortis sit amet tempus in, fermentum vitae neque.</p>
                    <ul class="list-inline social-icons-v1">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-6 team-v7-img">
            <img class="img-responsive full-width equal-height-column" src="assets/img/team/img-v2.jpg" alt="" style="height: 427px;">
        </div>
    </div>
    <!-- End Team Blcoks -->
</div>
<!--=== End Team v7 ===-->

<!--=== About Me ===-->
<div class="bg-color-light">
    <div class="container content-md">
        <div class="row about-me">
            <div class="col-sm-4 shadow-wrapper md-margin-bottom-40">
                <div class="box-shadow shadow-effect-2">
                    <img class="img-responsive img-bordered full-width" src="assets/img/team/img32-md.jpg" alt="">
                </div>
            </div>

            <div class="col-sm-8">
                <div class="overflow-h">
                    <div class="pull-left">
                        <h2>John Watson</h2>
                        <span>CEO, Director</span>
                    </div>
                    <ul class="social-icons pull-right">
                        <li><a class="rounded-x social_facebook" data-original-title="Facebook" href="#"></a></li>
                        <li><a class="rounded-x social_twitter" data-original-title="Twitter" href="#"></a></li>
                        <li><a class="rounded-x social_googleplus" data-original-title="Google Plus" href="#"></a></li>
                        <li><a class="rounded-x social_linkedin" data-original-title="Linkedin" href="#"></a></li>
                    </ul>
                </div>
                <p>Nulla fermentum blandit dolor eu dictum. Nulla faucibus libero eget mi tempus, quis laoreet ante congue. Nullam sed tortor vitae magna auctor vestibulum. Fusce gravida, mauris at vulputate aliquet, arcu nunc scelerisque mi, pellentesque mollis lectus mauris in urna.</p>
                <p>Suspendisse non magna sed justo tincidunt pellentesque. Proin sit amet ligula vel orci tempus viverra. Donec massa justo, sodales in leo pretium, adipiscing dictum mi. Nullam sed eleifend purus. Sed eget lacus eget urna venenatis hendrerit sed sit amet dui. Suspendisse lorem velit, tincidunt nec mattis ut, gravida adipiscing sapien.</p><br>

                <div class="row">
                    <!-- Smallest Progress Bar -->
                    <div class="col-md-6 md-margin-bottom-40">
                        <h3 class="heading-xs">Web Design - 88%</h3>
                        <div class="progress progress-u progress-sm">
                            <div class="progress-bar progress-bar-dark" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width: 88%">
                            </div>
                        </div>

                        <h3 class="heading-xs">jQuery - 93%</h3>
                        <div class="progress progress-u progress-sm">
                            <div class="progress-bar progress-bar-dark" role="progressbar" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100" style="width: 93%">
                            </div>
                        </div>
                    </div>
                    <!-- End Smallest Progress Bar -->

                    <!-- Smallest Progress Bar -->
                    <div class="col-md-6 md-margin-bottom-40">
                        <h3 class="heading-xs">PHP/WordPress - 76%</h3>
                        <div class="progress progress-u progress-sm">
                            <div class="progress-bar progress-bar-dark" role="progressbar" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100" style="width: 76%">
                            </div>
                        </div>

                        <h3 class="heading-xs">JavaScript - 97%</h3>
                        <div class="progress progress-u progress-sm">
                            <div class="progress-bar progress-bar-dark" role="progressbar" aria-valuenow="97" aria-valuemin="0" aria-valuemax="100" style="width: 97%">
                            </div>
                        </div>
                    </div>
                    <!-- End Smallest Progress Bar -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--=== End About Me ===-->

<!--=== Team Section with Parallax ===-->
<!-- Requires Parallax plugin and js file should be linked -->
<div class="parallax-team parallaxBg">
    <div class="container content-md">
        <div class="row">
            <!-- Team v2 -->
            <div class="col-md-3 col-sm-6">
                <div class="team-v2 no-margin-bottom">
                    <img class="img-responsive" src="assets/img/team/img15-md.jpg" alt="">
                    <div class="inner-team">
                        <h3>Jack Anderson</h3>
                        <small class="color-green">CEO, Chief Officer</small>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                        <hr>
                        <ul class="list-inline team-social">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Team v2 -->

            <!-- Team v2 -->
            <div class="col-md-3 col-sm-6">
                <div class="team-v2 no-margin-bottom">
                    <img class="img-responsive" src="assets/img/team/img31-md.jpg" alt="">
                    <div class="inner-team">
                        <h3>Kate Metus</h3>
                        <small class="color-green">Project Manager</small>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                        <hr>
                        <ul class="list-inline team-social">
                            <li><a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Team v2 -->

            <!-- Team v2 -->
            <div class="col-md-3 col-sm-6">
                <div class="team-v2 no-margin-bottom">
                    <img class="img-responsive" src="assets/img/team/img29-md.jpg" alt="">
                    <div class="inner-team">
                        <h3>David Loren</h3>
                        <small class="color-green">VP of Operations</small>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                        <hr>
                        <ul class="list-inline team-social">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Team v2 -->

            <!-- Team v2 -->
            <div class="col-md-3 col-sm-6">
                <div class="team-v2 no-margin-bottom">
                    <img class="img-responsive" src="assets/img/team/img39-md.jpg" alt="">
                    <div class="inner-team">
                        <h3>Donec Elisson</h3>
                        <small class="color-green">Director, R &amp; D Talent</small>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                        <hr>
                        <ul class="list-inline team-social">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#">
                                    <i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Team v2 -->
        </div>
    </div>
</div>
<!--=== End Team Section with Parallax ===-->

<div class="google-analytics"/>
