<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-v1">
    <div class="container text-center">
        <h1 style="margin-bottom: 50px;">Equipos</h1>
    </div><!--/end container-->
</div>
<!--=== End Breadcrumbs v3 ===-->

<!--=== Breadcrumbqs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Longboard Team</h1>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Team v1 ===-->
<div class="container content-md team-v1">
    <ul class="list-unstyled row">
        <li class="col-sm-3 col-xs-6 md-margin-bottom-30" ng-repeat="rider in riders">
            <div class="team-img">
                <!--<img class="img-responsive" src={{rider.photo_url}} alt="">-->
                <div style="background-image: url({{rider.photo_url}}); height:260px; background-position:center;background-size: cover;"></div>
                <ul>
                    <li><a href="{{rider.twitter}}" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                    <li><a href="{{rider.facebook}}" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
                    <li><a href="{{rider.instagram}}" target="_blank"><i class="icon-custom icon-sm rounded-x fa fa-instagram" style="font-size: 18px;"></i></a></li> <!--i.fa-instagram:hover-->
                </ul>
            </div>
            <h3><a href="#/teams/{{rider.alias}}" style="text-decoration: none;">{{rider.name}}</a></h3> <!--hacer que el nombre sea un link-->
            <h4>/ {{rider.sport}}</h4>
            <p>{{rider.description}}...</p>
        </li>
    </ul>
</div>
<!--=== End Team v1 ===-->

<!--=== Breadcrumbqs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Skate Team</h1>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Team Section with Parallax ===-->
<!-- Requires Parallax plugin and js file should be linked -->
<div class="parallax-team parallaxBg">
    <div class="container content-md">
        <div class="row">
            <!-- Team v2 -->
            <div class="col-md-3 col-sm-6" ng-repeat="rider in riders">
                <div class="team-v2 no-margin-bottom">
                    <!--<img class="img-responsive" src={{rider.photo_url}} alt="">-->
                    <div style="background-image: url({{rider.photo_url}}); height:260px; background-position:center;background-size: cover;"></div>
                    <div class="inner-team">
                        <h3>{{rider.name}}</h3>
                        <small class="color-green">CEO, Chief Officer</small>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                        <hr>
                        <ul class="list-inline team-social">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="{{rider.facebook}}">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter"  href="{{rider.twitter}}">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="in tooltips" data-original-title="Instagram" href="{{rider.instagram}}">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Team v2 -->
        </div>
    </div>
</div>
<!--=== End Team Section with Parallax ===-->

<!--=== Team v5 ===-->
<div class="bg-color-light">
    <div class="container content-md">
        <div class="row team-v5">
            <div class="col-sm-3 sm-margin-bottom-50" ng-repeat="rider in riders">
                <div class="team-img">
                    <!--<img class="img-responsive" src={{rider.photo_url}} alt="">-->
                    <div style="background-image: url({{rider.photo_url}}); height:260px; background-position:center;background-size: cover;"></div>
                    <!--se caga el responsive porque le tengo que dejar un alto fijo-->
                    <div class="team-hover">
                        <ul class="list-inline team-social-v5">
                            <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <span>{{rider.name}}</span>
                <small>{{rider.sport}}</small>
                <p>Pellentesque habitant morbi tristique senectus netus et.</p>
            </div>
        </div><!--/end teams v5-->
    </div>
</div>
<!--=== End Team v5 ===-->



