<!--=== Content Part ===-->
<div class="container content">
    <div class="row portfolio-item margin-bottom-50">
        <!-- Carousel -->
        <div class="col-md-5">
            <div class="carousel slide carousel-v1" id="myCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <!--<img alt="" src={{rider.photo_url}}>-->
                        <div style="background-image: url({{rider.photo_url}}); height:458px; background-position:center;background-size: cover;"></div>
                        <div class="carousel-caption">
                            <p>{{rider.quote}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Carousel -->

        <!-- Content Info -->
        <div class="col-md-7">
            <h2>{{rider.name}}</h2>
            <p>{{rider.description}}</p>
            <ul class="list-unstyled">
                <li><i class="fa fa-user color-green"></i> Apodo: {{rider.nickname}}</li>
                <li><i class="fa fa-calendar color-green"></i> Edad: {{age(rider.birthdate)}} años</li>
                <li><i class="fa fa-calendar color-green"></i> Fecha de nacimiento: {{formatDate(rider.birthdate)}}</li>
                <li><i class="fa fa-bookmark color-green"></i> Deporte: {{rider.sport}}</li>
                <li><i class="fa fa-globe color-green"></i> Procedencia: {{rider.procedence}}</li>
                <li><i class="fa fa-globe color-green"></i> Vive actualmente: {{rider.residence}}</li>
                <li><i class="fa fa-check color-green"></i> Stance: {{rider.stance}}</li>
                <li><i class="fa fa-globe color-green"></i> Spots preferidos: <p ng-bind-html="getSpots(rider.spots)" style="display: inline;"></p></li>
                <li><i class="fa fa-facebook color-green"></i> Facebook: <a href="{{rider.facebook}}" target="_blank">/{{rider.facebook.substring(rider.facebook.lastIndexOf('/')+1)}}</a></li>
                <li><i class="fa fa-instagram color-green"></i> Instagram: <a href="{{rider.instagram}}" target="_blank">@{{rider.instagram.substring(rider.instagram.lastIndexOf('/')+1)}}</a></li>
                <li><i class="fa fa-twitter color-green"></i> Twitter: <a href="{{rider.twitter}}" target="_blank">@{{rider.twitter.substring(rider.twitter.lastIndexOf('/')+1)}}</a></li>
            </ul>
        </div>
        <!-- End Content Info -->
    </div><!--/row-->

    <div class="tag-box tag-box-v2">
        <p>"{{rider.quote}}"</p>
    </div>

    <div class="margin-bottom-20 clearfix"></div>

    <!-- Recent Works -->
    <!--<div class="owl-carousel-v1 owl-work-v1 margin-bottom-40">-->
        <!--<div class="headline"><h2 class="pull-left">Fotos en las que aparece</h2>-->
            <!--<div class="owl-navigation">-->
                <!--<div class="customNavigation">-->
                    <!--<a class="owl-btn prev-v2"><i class="fa fa-angle-left"></i></a>-->
                    <!--<a class="owl-btn next-v2"><i class="fa fa-angle-right"></i></a>-->
                <!--</div>-->
            <!--</div>&lt;!&ndash;/navigation&ndash;&gt;-->
        <!--</div>-->

        <!--<div class="owl-recent-works-v1">-->
            <!--<div class="item">-->
                <!--<a href="#">-->
                    <!--<em class="overflow-hidden">-->
                        <!--<img class="img-responsive" src="assets/img/main/img1.jpg" alt="">-->
                    <!--</em>-->
                        <!--<span>-->
                            <!--<strong>Happy New Year</strong>-->
                            <!--<i>Anim pariatur cliche reprehenderit</i>-->
                        <!--</span>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="item">-->
                <!--<a href="#">-->
                    <!--<em class="overflow-hidden">-->
                        <!--<img class="img-responsive" src="assets/img/main/img2.jpg" alt="">-->
                    <!--</em>-->
                        <!--<span>-->
                            <!--<strong>Award Winning Agency</strong>-->
                            <!--<i>Responsive Bootstrap Template</i>-->
                        <!--</span>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="item">-->
                <!--<a href="#">-->
                    <!--<em class="overflow-hidden">-->
                        <!--<img class="img-responsive" src="assets/img/main/img3.jpg" alt="">-->
                    <!--</em>-->
                        <!--<span>-->
                            <!--<strong>Wolf Moon Officia</strong>-->
                            <!--<i>Pariatur prehe cliche reprehrit</i>-->
                        <!--</span>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="item">-->
                <!--<a href="#">-->
                    <!--<em class="overflow-hidden">-->
                        <!--<img class="img-responsive" src="assets/img/main/img4.jpg" alt="">-->
                    <!--</em>-->
                        <!--<span>-->
                            <!--<strong>Food Truck Quinoa Nesciunt</strong>-->
                            <!--<i>Craft labore wes anderson cred</i>-->
                        <!--</span>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="item">-->
                <!--<a href="#">-->
                    <!--<em class="overflow-hidden">-->
                        <!--<img class="img-responsive" src="assets/img/main/img5.jpg" alt="">-->
                    <!--</em>-->
                        <!--<span>-->
                            <!--<strong>Happy New Year</strong>-->
                            <!--<i>Anim pariatur cliche reprehenderit</i>-->
                        <!--</span>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="item">-->
                <!--<a href="#">-->
                    <!--<em class="overflow-hidden">-->
                        <!--<img class="img-responsive" src="assets/img/main/img1.jpg" alt="">-->
                    <!--</em>-->
                        <!--<span>-->
                            <!--<strong>Happy New Year</strong>-->
                            <!--<i>Anim pariatur cliche reprehenderit</i>-->
                        <!--</span>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="item">-->
                <!--<a href="#">-->
                    <!--<em class="overflow-hidden">-->
                        <!--<img class="img-responsive" src="assets/img/main/img2.jpg" alt="">-->
                    <!--</em>-->
                        <!--<span>-->
                            <!--<strong>Award Winning Agency</strong>-->
                            <!--<i>Responsive Bootstrap Template</i>-->
                        <!--</span>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="item">-->
                <!--<a href="#">-->
                    <!--<em class="overflow-hidden">-->
                        <!--<img class="img-responsive" src="assets/img/main/img3.jpg" alt="">-->
                    <!--</em>-->
                        <!--<span>-->
                            <!--<strong>Wolf Moon Officia</strong>-->
                            <!--<i>Pariatur prehe cliche reprehrit</i>-->
                        <!--</span>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="item">-->
                <!--<a href="#">-->
                    <!--<em class="overflow-hidden">-->
                        <!--<img class="img-responsive" src="assets/img/main/img4.jpg" alt="">-->
                    <!--</em>-->
                        <!--<span>-->
                            <!--<strong>Food Truck Quinoa Nesciunt</strong>-->
                            <!--<i>Craft labore wes anderson cred</i>-->
                        <!--</span>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="item">-->
                <!--<a href="#">-->
                    <!--<em class="overflow-hidden">-->
                        <!--<img class="img-responsive" src="assets/img/main/img5.jpg" alt="">-->
                    <!--</em>-->
                        <!--<span>-->
                            <!--<strong>Happy New Year</strong>-->
                            <!--<i>Anim pariatur cliche reprehenderit</i>-->
                        <!--</span>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!-- End Recent Works -->
</div><!--/container-->
<!--=== End Content Part ===-->
